body {
    background-color: #162749;
    font-family: 'Open Sans';
    color: white;
    text-shadow: 1px 1px 1px #000;
    padding-bottom: 10%;
}

#content {
    z-index: 999;
    margin-left: 25%;
    padding-right: 33%;
}

.sec {
    height: 100vh;
}

.name {
    letter-spacing: 3px;
    font-size: 3.5em;
    margin-top: 50%;
    font-family: 'Merriweather';
    text-shadow:
        0 -1px 0 #fff,
        0 1px 0 #2e2e2e,
        0 2px 0 #2c2c2c,
        0 3px 0 #2a2a2a,
        0 4px 0 #282828,
        0 5px 0 #262626,
        0 6px 0 #242424,
        0 7px 0 #222;
}

.bold {
    font-weight: 600;
    margin-bottom: 5%;
}

.p-text {
    font-size: 1.5em;
    letter-spacing: 1px;
}

hr {
    width: 75%;
    margin-left: 0;
    margin-bottom: 5%;
}

h2 {
    font-size: 1.5em;
    letter-spacing: 0.5px;
}

.square {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    position: absolute;
    background-color: white;
    z-index: -999;
}

#shape-1 {
    width: 100px;
    height: 100px;
    left: 15%;
    top: 10vh;
    background: rgb(250,116,47);
    background: linear-gradient(-45deg, rgba(250,116,47,1) 22%, rgba(255,51,125,1) 100%);
    z-index: 999;
}

#shape-2 {
    width: 75px;
    height: 75px;
    left: 50%;
    top: 63vh;
    background: rgb(24,102,239);
    background: linear-gradient(-45deg, rgba(24,102,239,1) 22%, rgba(49,255,147,1) 65%);
    z-index: -999;
}

#particles-js {
    position: fixed;
    left: 0;
    top: 0;
    height: 150vh;
}

.row {
    margin-top: 7.5%;
    margin-bottom: 7.5%;
    text-align: center;
}

a {
    z-index: 9999;
    text-decoration: none;
    padding-bottom: 1em;
    font-size: 1.5em;
    position: relative;
    overflow: hidden;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow:
        0 1px 0 #2e2e2e,
        0 2px 0 #2c2c2c,
        0 3px 0 #2a2a2a,
        0 4px 0 #282828,
        0 5px 0 #262626,
        0 6px 0 #242424;
}

a:hover {
    filter: opacity(20);
}

#github {
    color: #ff337d;
}

#linkedin {
    color: #fa742f;
}

#ig {
    color: #31ff93;
}

#email {
    color: #379392;
}

#resume {
    color: #FFBC42;
}

@media screen and (max-width: 414px) {
    #content {
        margin-left: 12.5%;
        padding-right: 11.5%;
    }
    #shape-1 {
        width: 50px;
        height: 50px;
        top: 25vh;
    }

    #shape-2 {
        top: 50vh;
    }

    .name {
        margin-top: 100%;
        font-size: 3em;
    }

    h2 {
        font-size: 1.3em;
    }
  }